body {
	font-family: Calibri;
	font-size: 18px;
}
#container {
	margin: 2em auto;
	width: 27em;
}
#registerFeeling ol {
	padding: 0;
}
#registerFeeling ol li {
	display: inline-block;
	margin-left: 0.3em;
}
#registerFeeling ol li button {
	padding: 0.5em;
	width: 6em;
	height: 5em;
}
#registerFeeling ol li button span {
	display: block;
	margin-bottom: 0.1em;
}
#registerState textarea {
	width: 100%;
}
.vuelogo {
	height: 0.75em;
}
.displayFeeling {
	font-style: italic;
	color: #333;
}

